.App {
  text-align: center;
  background-image: url('./images/background.jpeg');
  background-size: cover;
  font-family: 'Monda', sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navBar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
  font-size: 20px;
  border-bottom: 4px dotted green;
}
.navIcons{
  width: 50px;
  height: 50px;
  color: black;
}
.navIconsText{
  margin-top: -15px;
  color: black;
  text-decoration: none;
}
.homepage{
  width: 100%;
  height: 75vh;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: auto;
  grid-template-areas:
    "logo-header logo-header logo-header"
    "slogan slogan slogan"
    "list-left logo list-right";
}
.logo-header{
  grid-area: logo-header;
  font-size: 35px;
  padding-bottom: -70px;
}
.slogan{
  grid-area: slogan;
  font-size: 20px;
  padding: 0px 100px;
}
.list-left{
  grid-area: list-left;
  font-size: 20px;
  padding-left: 30px;
  background-color: rgba(22, 145, 51, .5);
  margin-left: 15px;
  border-radius: 20px;
}
.list-right{
  grid-area: list-right;
  font-size: 20px;
  padding-right: 30px;
  background-color: rgba(22, 145, 51, .5);
  margin-right: 15px;
  border-radius: 20px;
}
.logo{
  grid-area: logo;
}
.addMatchForm {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: #126812;
  font-size: 20px;
  color: #126812;
  height: 640px;
  margin: 20px 300px 50px 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}
input[type=text], [type=password]{
  font-size: 20px;
  background-color: #93D693;
  width: 50%;
  height: 30px;
  align-self: center;
}

input[type=submit] {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: center;
  font-size: 20px;
	width: 20%;
	align-self: center;
  margin-top: 20px;
}

input[type=submit]:hover {
  background-color: #93D693;
  color: black;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: black;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 20px;
    border:1px solid #ecf0f1;
    background:#93D693;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
    width: 25%;
    align-self: center;
}
.footer{
  font-size: 20px;
}
.profile-container{
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}
.profile-header{
  font-size: 20px;
}
.profile-actions{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
}
.userViews{
  width:600px;
  height:180px;
  margin-bottom: 5px;
  padding-top: 60px;
  border: solid red 2px;
  background-color: rgba(22, 145, 51, .5);
}
.profile-description{
  font-size: 15px;
}
.activities-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-right: 20px;
}
.activity{
  background-color: white;
  padding: 0px 30px;
  border-style: solid;
  border-width: 5px;
  border-color: #126812;
  padding-bottom: 10px;
  width: 200px;
  height: 550px;
}
.activity h3{
  text-decoration: underline;
  color: green;
}
.deleteButtons{
  background-color: white;
  color: black;
  border: 2px solid #f44336;
  font-size: 16px;
  transition-duration: 0.4s;
  padding: 10px 25px;
}
.deleteButtons:hover{
  background-color: #f44336;
  color: white;
}
.viewPlayers{
  min-height: 80vh;
  width: 100%;
}
.players-profile{
  background-color: white;
  /* padding: 0px 20px; */
  margin-top: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: #126812;
  padding-bottom: 10px;
  height: 700px;
  width: 300px;
}
.players-profile h3{
  text-decoration: underline;
  color: green;

}
.player-info-container{
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.deleteProfile{
  align-self: flex-end;
}
.avatarImg{
  width: 150px;
  height: 150px;
  align-self: center;
}
.counter{
  color: white;
  background-color: black;
  width: 10%;
  margin: auto;
}
